{% extends "orlando_pizzas/base.html" %}
{% block page_header %}
     <h1>Orlando Pizzas</h1>
{% endblock page_header %}


{% block content %}

<b>Pizza Type</b>
<ul>
    {% for pizza in pizzas %}
        <li>
                <form action="{% url 'orlando_pizzas:new_topping' pizza.id %}"  method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{pizza}}
                    <button name="submit_topping" >Add Topping</button>
                </form>
        </li>
    {% endfor %}
</ul>
<form action="{% url 'orlando_pizzas:new_pizza' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Add pizza</button>
 </form>
{% endblock content %}